@font-face {
  font-family: "Krinkes Decor PERSONAL USE";
  src: url("./../font/KrinkesDecorPERSONAL.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("./../font/Lato-Bold.ttf"), url("./../font/Lato-Regular.ttf"),
    url("./../font/Lato-Italic.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("./../font/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

// colors //
$-color-primary: #d9bf8f;
$-color-secondry: #f09d66;
$-color-tertiary: #feab12;
$-color-dark: #141414;
//  colors //
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

.btn {
  color: #fff;
  background-color: $-color-secondry;
  text-transform: uppercase;
  border: none;
  font-family: "lato";
  cursor: pointer;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-family: "PlayfairDisplay";
  }
  &-square {
    display: inline-block;
    background-color: $-color-primary;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    @media screen and (max-width: 700px) {
      width: 10px;
      height: 10px;
    }
    @media screen and (max-width: 500px) {
      width: 7px;
      height: 7px;
    }
  }
  &-line {
    display: inline-block;
    background-color: #eaeaea;
    height: 1px;
    width: 30%;
  }
}

.larg-padding {
  padding: 70px 80px;
}

.small-padding {
  padding: 12px 80px;
}

.main-container {
  max-width: 1290px;
  margin: 0 auto;
  width: 90%;
}

.main-container-2 {
  max-width: 1290px;
  margin: 80px auto;
  width: 85%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 720px) {
    flex-wrap: wrap;
  }
}

.gap {
  gap: 120px;
  @media screen and (max-width: 1280px) {
    gap: 150px;
  }
  @media screen and (max-width: 805px) {
    gap: 110px;
  }
  @media screen and (max-width: 720px) {
    gap: 55px;
  }
}

@media screen and (max-width: 1150px) {
}

// @media screen and (max-width: 850px) {
//   gap: 7px;
//   &::after,
//   &::before {
//     display: none;
//   }
//   h2 {
//     font-size: 16px;
//   }
//   span {
//     display: none;
//   }
// }
