.customers {
  &-heading {
    gap: 68px;
    padding: 0 0 80px;
  }
  &__contain {
    background-color: $-color-primary;
    padding: 60px 80px;
    display: flex;
    gap: 66px;
    max-height: 400px;
    clip-path: polygon(50% 10%, 64% 0, 100% 0, 100% 100%, 0 100%, 0 0, 34% 0);
    &-1,
    &-2 {
      display: flex;
      align-items: end;
    }
    &-2 {
      flex-direction: row-reverse;
      text-align: end;
    }
  }
  &__text {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-family: "PlayfairDisplay";
    h2 {
      font-size: 29px;
      color: #000;
      margin-top: 60px;
    }
    h3 {
      font-size: 14px;
      color: #85827f;
      font-family: "lato";
      text-transform: uppercase;
      margin-top: 15px;
    }
  }
}
