.gallery {
  padding: 0 80px 35px;
  &__heading {
    gap: 60px;
    h2 {
      font-size: 30px;
      margin: 0 30px;
    }
  }
  &__hand {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1.2fr 1.3fr 1.2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    &-figure {
      position: relative;
      &:hover &-btn {
        transform: translate(-50%, -25%);
        opacity: 1;
      }
      &:hover span {
        opacity: 1;
      }
      &:hover img {
        outline: none;
      }
      img {
        display: block;
        width: 100%;
        outline: 3px solid #fff;
        outline-offset: -22px;
      }
      &-btn {
        padding: 14px 16px;
        font-size: 15px;
        position: absolute;
        bottom: 10%;
        left: 50%;
        opacity: 0;
        transform: translate(-50%, 50%);
        transition: all ease-in 0.6s;
      }
    }
    &-1 {
      grid-column: 1 / 2;
      grid-row: 1/2;
    }
    &-2 {
      grid-column: 2 / 3;
      grid-row: 1 / span 2;
      img {
        height: 100%;
      }
    }
    &-3 {
      grid-column: 3 / 4;
      grid-row: 1/2;
    }
    &-4 {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &-5 {
      grid-column: 3/4;
      grid-row: 2/3;
    }
    span {
      width: 87%;
      height: 87%;
      background-color: rgba(#000, 0.4);
      position: absolute;
      top: 24px;
      left: 24px;
      opacity: 0;
      transition: all ease-in 0.4s;
    }
  }
}

.collection {
  padding: 35px 80px;
  &__heading {
    gap: 45px;
    h2 {
      font-size: 27px;
      margin: 0 17px;
    }
  }
  &__gallery {
    margin: 70px 0 100px;
    outline: 1px solid #eaeaea;
    outline-offset: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  &__image {
    position: relative;
    span {
      background-color: $-color-tertiary;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      top: 20px;
      left: 20px;
      position: absolute;
      &::after {
        content: "20%";
        color: #fff;
        font-size: 22px;
        font-family: "lato";
        position: absolute;
        top: 16px;
        left: 9px;
      }
    }
    img {
      display: block;
      max-width: 286px;
      height: 100%;
    }
  }
  &__btn {
    clip-path: polygon(19% -13%, 81% -13%, 100% 100%, 0% 100%);
    background-color: #000;
    padding: 8px 30px;
    font-size: 14px;
    font-family: "lato";
    text-transform: uppercase;
    color: #fff;
    border: none;
    position: absolute;
    bottom: 0;
    left: 20%;
    transition: all ease-in 0.4s;
    &:hover {
      background-color: $-color-secondry;
    }
  }
  &__brand {
    display: flex;
    gap: 80px;
    padding: 80px 80px;
    img {
      width: 120px;
      height: 60px;
    }
  }
  &__brand-heading {
    gap: 82px;
  }
}
