.header {
  &__tabar1 {
    background-color: #f2f2f2;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 850px) {
      justify-content: start;
      &-phone {
        display: none;
      }
    }
    @media screen and (max-width: 650px) {
      padding: 5px 0;
    }
    &-phone {
      svg {
        width: 12px;
        height: 12px;
      }
      a {
        text-decoration: none;
        color: #000;
        margin-left: 20px;
        font-size: 11px;
      }
    }
  }
  &__tabar2 {
    span {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 850px) {
      padding: 0 80px;
      position: relative;
      span {
        display: inline-block;
        width: 30px;
        height: 1px;
        position: absolute;
        top: -30px;
        right: 0;
        background-color: #000;
        &::after,
        &::before {
          content: "";
          width: 30px;
          height: 1px;
          display: inline-block;
          background-color: #000;
          left: 0px;
          position: absolute;
        }
        &::after {
          top: -9px;
        }
        &::before {
          top: 10px;
        }
        @media screen and (max-width: 650px) {
          top: -20px;
          width: 25px;
          &::after,
          &::before {
            width: 25px;
          }
          &::after {
            top: -8px;
          }
          &::before {
            top: 8px;
          }
        }
      }
    }
    h1 {
      font-family: "Krinkes Decor PERSONAL USE";
      font-size: 72px;
      font-weight: 400;
      margin-left: 105px;
      @media screen and (max-width: 1150px) {
        margin-left: -92px;
      }
      @media screen and (max-width: 850px) {
        font-size: 45px;
        margin-top: 5px;
      }
      @media screen and (max-width: 650px) {
        font-size: 30px;
      }
    }
  }
  &-contain {
    position: relative;
  }
  &-image {
    max-height: 690px;
    margin-top: 10px;
    width: 100%;
    @media screen and (max-width: 850px) {
      margin-top: 0;
    }
  }
  &-text {
    position: absolute;
    top: 22%;
    left: 41.5%;
    padding: 23px 25px;
    border: 1px solid #fff;
    outline-offset: 7px;
    outline: 2px solid #fff;
    @media screen and (max-width: 1200px) {
      padding: 19px 7px;
      left: 42.5%;
    }
    @media screen and (max-width: 1050px) {
      padding: 15px 5px;
    }
    @media screen and (max-width: 1000px) {
      left: 41.5%;
    }
    @media screen and (max-width: 850px) {
      left: 40%;
    }
    @media screen and (max-width: 720px) {
      outline: none;
      padding: 5px;
      left: 44.5%;
    }
    @media screen and (max-width: 600px) {
      left: 43%;
    }
    @media screen and (max-width: 550px) {
      left: 42%;
    }
    @media screen and (max-width: 470px) {
      left: 42%;
    }
  }
  &-heading {
    text-align: center;
    font-family: "lato";
    text-transform: uppercase;
    h2 {
      color: #fff;
      font-weight: 400;
      font-size: 19px;
      margin-bottom: 30px;
      margin-top: 2px;
      @media screen and (max-width: 1200px) {
        font-size: 15px;
      }
      @media screen and (max-width: 1050px) {
        font-size: 13px;
      }
      @media screen and (max-width: 850px) {
        font-size: 11px;
      }
      @media screen and (max-width: 720px) {
        margin-bottom: 5px;
      }
      @media screen and (max-width: 475px) {
        font-size: 8px;
      }
    }
    h1 {
      font-size: 58px;
      font-weight: 400;
      margin-bottom: 30px;
      @media screen and (max-width: 1200px) {
        font-size: 45px;
      }
      @media screen and (max-width: 1050px) {
        font-size: 37px;
      }
      @media screen and (max-width: 850px) {
        font-size: 26px;
      }
      @media screen and (max-width: 720px) {
        margin-bottom: 5px;
      }
      @media screen and (max-width: 475px) {
        font-size: 20px;
      }
    }
    h3 {
      font-size: 31px;
      margin-top: -15px;
      @media screen and (max-width: 1200px) {
        font-size: 25px;
        span {
          font-size: 19px;
        }
      }
      @media screen and (max-width: 1050px) {
        font-size: 21px;
        span {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 850px) {
        font-size: 18px;
        span {
          font-size: 13px;
        }
      }
      @media screen and (max-width: 720px) {
        margin-top: 0;
      }
      span {
        font-size: 25px;
        margin-right: 10px;
      }
      @media screen and (max-width: 470px) {
        font-size: 13px;
        span {
          font-size: 21px;
        }
      }
    }
  }
  &-upto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;
    @media screen and (max-width: 1050px) {
      gap: 15px;
      h2 {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 850px) {
      gap: 7px;
      &::after,
      &::before {
        width: 20px;
      }
      h2 {
        font-size: 16px;
      }
      span {
        width: 35px;
      }
    }
    &::after,
    &::before {
      content: "";
      width: 30px;
      height: 1px;
      position: absolute;
      right: 25px;
      top: 7px;
      background-color: #fff;
      @media screen and (max-width: 720px) {
        display: none;
      }
    }
    &::before {
      left: 25px;
      bottom: 48px;
    }
    h2 {
      font-size: 20px;
      @media screen and (max-width: 475px) {
        font-size: 12px;
      }
    }
    span {
      display: inline-block;
      width: 55px;
      height: 1px;
      background-color: #fff;
      @media screen and (max-width: 720px) {
        display: none;
      }
    }
  }
  &-btn {
    font-size: 23px;
    padding: 12px 26px;
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    left: 44.5%;
    @media screen and (max-width: 1200px) {
      padding: 10px 20px;
      font-size: 18px;
      left: 46%;
    }
    @media screen and (max-width: 950px) {
      bottom: 17%;
      left: 45%;
    }
    @media screen and (max-width: 900px) {
      bottom: 12%;
    }
    @media screen and (max-width: 850px) {
      width: 100%;
      bottom: -9%;
      font-size: 15px;
      left: 0;
    }
    @media screen and (max-width: 500px) {
      left: 0;
      bottom: 4px;
      font-size: 11px;
      padding: 7px 9px;
      width: 23%;
    }
  }
  &-scrol {
    position: absolute;
    left: 47.5%;
    bottom: 4%;
    span {
      display: inline-block;
      width: 13px;
      height: 13px;
      background-color: #b2b2b2;
      transform: rotate(45deg);
      margin-left: 8px;
      transition: all 0.3s;
      &:hover {
        background-color: #000;
      }
    }
    @media screen and (max-width: 840px) {
      left: 45%;
    }
    @media screen and (max-width: 720px) {
      bottom: 6%;
      left: 48%;
      span {
        width: 7px;
        height: 7px;
        margin-left: 3px;
      }
    }
    @media screen and (max-width: 500px) {
      left: 46%;
    }
  }
  &-information {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    @media screen and (max-width: 735px) {
      display: none;
    }
    svg {
      width: 40px;
      height: 40px;
      fill: #fff;
      margin-right: 15px;
      margin-top: 5px;
      @media screen and (max-width: 1190px) {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
    &-1 {
      display: flex;
      font-family: "lato";
      font-weight: 400;
      border-radius: 2px;
      color: #fff;
      h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 700;
        @media screen and (max-width: 1326px) {
          font-size: 25px;
        }
        @media screen and (max-width: 1190px) {
          font-size: 18px;
        }
        @media screen and (max-width: 735px) {
          font-size: 15px;
        }
      }
      span {
        font-size: 14px;
        text-transform: none;
        font-weight: 400;
        display: block;
        margin-top: 3px;
        @media screen and (max-width: 1150px) {
          font-size: 12px;
        }
        @media screen and (max-width: 735px) {
          font-size: 12px;
        }
      }
    }
    &-plane {
      background-color: $-color-primary;
      padding: 20px 104px 20px 30px;
      clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 88% 100%, 0% 100%);
      @media screen and (max-width: 1042px) {
        padding: 20px 27px 20px 20px;
      }
    }
    &-clock {
      background-color: $-color-dark;
      padding: 20px 49px;
      clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
      @media screen and (max-width: 1042px) {
        padding: 20px 27px;
      }
    }
    &-lifebuoy {
      background-color: $-color-primary;
      padding: 20px 63px;
      clip-path: polygon(11% 0%, 100% 0%, 100% 100%, 11% 100%, 0% 50%);
      @media screen and (max-width: 1042px) {
        padding: 20px;
      }
    }
  }
}

.navigation {
  &-list {
    display: flex;
    gap: 35px;
    list-style: none;
    @media screen and (max-width: 550px) {
      gap: 15px;
    }
    a {
      text-decoration: none;
      font-family: "lato";
      text-transform: uppercase;
      font-size: 11px;
      color: #000;
      @media screen and (max-width: 550px) {
        font-size: 8px;
      }
      &:hover,
      &:active {
        color: $-color-secondry;
      }
    }
    li:not(:last-child) {
      border-right: solid 1px #000;
      padding-right: 35px;
      @media screen and (max-width: 550px) {
        padding-right: 15px;
      }
    }
  }
}

.navigation2 {
  display: flex;
  list-style: none;
  gap: 20px;
  a {
    text-decoration: none;
    font-family: "PlayfairDisplay";
    color: #000;
    font-size: 18px;
  }
  @media screen and (max-width: 850px) {
    display: none;
  }
}

.navigation3 {
  display: flex;
  align-items: center;
  gap: 15px;
  nav {
    a {
      display: inline-block;
      width: 45px;
      height: 45px;
      border: 2px solid $-color-primary;
      border-radius: 100%;
      position: relative;
      @media screen and (max-width: 1150px) {
        display: none;
      }
    }
  }
  &__svg {
    &-1,
    &-2,
    &-3,
    &-4 {
      fill: $-color-primary;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 12px;
      left: 12px;
    }
    &-1 {
      width: 22px;
      height: 22px;
      top: 9px;
      left: 9px;
    }
  }
  &__select {
    margin-left: 15px;
    color: #fff;
    padding: 12px 20px;
    background-color: #000;
    font-family: "lato";
    font-weight: 700;
    font-size: 12px;
    @media screen and (max-width: 850px) {
      margin-left: 0;
      padding: 10px 17px;
      margin-right: -77px;
    }
    @media screen and (max-width: 650px) {
      padding: 7px 10px;
      font-size: 10px;
    }
  }
}
